name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  Test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4.2.0
        with:
          version: latest

      - uses: actions/setup-node@v6
        with:
          node-version: '24.11.1'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm i && pnpm cypress install

      - name: Validate
        run: pnpm run-p lint
